
<!-- Contenido -->
<div class="container pt-5">

  <div class="card">
    <div class="card-header">
      Giphy API
    </div>
    <div class="card-body">
      <div class="input-group mb-2 mr-sm-2">
          <input class="form-control mr-sm-1" type="search" placeholder="Ingresa tu busqueda " aria-label="Search" #img >
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="buscar(img.value);">Buscar</button>
      </div>
    </div>
  </div>
<div class ="pt-3 pb-3">

</div>

<div class="card-columns">
  <div *ngFor="let imagen of imagenes" class="card">
    <img class="card-img-top" [src]="imagen.images.original.url">
    <div class="card-body">
      <h5 class="card-title"> {{imagen.title}} </h5>
    </div>

  </div>
</div>

</div>
