
<!-- Contenido -->
<div class="container pt-4">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#uno" aria-expanded="false" aria-controls="collapseTwo">
            0. Abiertamente qué opinas, React vs Angular vs Vue
          </button>
        </h5>
      </div>
      <div id="uno" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Pienso que los tres entornos  de desarrollo son buenos pero como todo tienen sus ventajas y desventajas eso depende para que tipo de proyecto lo tengas que ocupar.
          Para proyectos grandes y que la construcción empiece desde cero ocupo Angular ya que es un framework robusto y con una gran comunidad de soporte.
          Para proyectos más pequeños he ocupado react ya que es una librería ligera y fácil de implementar,  adicional a esto me gusta como utiliza el DOM virtual para crear fragmentos de la página sin afectar a los demás.
          Con respecto a vue casi no lo he utilizado pero hasta donde he leído es una librería también potente y con buna expectativa de crecimiento.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#dos" aria-expanded="false" aria-controls="collapseThree">
            1. ¿Para qué sirve el bind en JS?
          </button>
        </h5>
      </div>
      <div id="dos" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          El bind te permite la manipulación del valor this en cierto tiempo de invocación de la función
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#tres" aria-expanded="false" aria-controls="collapseThree">
            2.¿Cómo iterarías el siguiente arreglo para imprimir en consola el id del name exactamente igual a “mapache”?
          </button>
        </h5>
      </div>
      <div id="tres" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
  {{res}}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#cuatro" aria-expanded="false" aria-controls="collapseThree">
            3. ¿Cuál es la diferencia entre scope y context?
          </button>
        </h5>
      </div>
      <div id="cuatro" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          El scope te permite controlar el acceso al valor de variables locales o globales a diferencia del context que te permite el control del valor de una variable al momento de la ejecución de una función.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#cinco" aria-expanded="false" aria-controls="collapseThree">
            4. ¿Cuál es la complejidad de runtime para la secuencia Fibonacci?
          </button>
        </h5>
      </div>
      <div id="cinco" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#seis" aria-expanded="false" aria-controls="collapseThree">
            5. Comparte dos links de tus proyectos que más te gusten que combinen gran diseño y gran código.
          </button>
        </h5>
      </div>
      <div id="seis" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <ul>
            <li> <a href="https://herramientash21.com/" target="_blank"> herramientash21 </a></li>
            <li> <a href="http://capitalvende.com/" target="_blank"> capitalvende </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#siete" aria-expanded="false" aria-controls="collapseThree">
            6. Comparte uno o dos proyectos paralelos (lado b) en el que participes o hayas participado
          </button>
        </h5>
      </div>
      <div id="siete" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <ul>
            <li> <a href="https://gitlab.com/lazfer/landing" target="_blank"> Landing </a></li>
            <li> <a href="https://gitlab.com/lazfer/yariktel" target="_blank"> Yariktel </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
