/** Fondo de la pagina proncipal */
body{
background: url('https://www.wallpaperup.com/uploads/wallpapers/2014/10/13/480562/a9548dbccae4cbd737666c2625a369fd-700.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100vh;
}

.btn-link {
  text-decoration: none !important;
  font-weight: 600
}
.btn-link:hover {
  font-weight: 600
}


